import-ipynb==0.1.4
tensorflow==2.15.0
tensorflow-datasets==4.9.3
tensorflow-estimator==2.15.0
tensorflow-gcs-config==2.15.0
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-metadata==1.14.0
tensorflow-probability==0.22.0
urllib3==2.0.7
keras==2.15.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-venn==0.11.9
numpy==1.23.5
pathlib==1.0.1
split-folders==0.5.1
sklearn-pandas==2.2.0
scikit-image==0.19.3
scikit-learn==1.2.2